<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="PayByPhone Buyer"
           Language="1033"
           Version="1.1.0"
           Manufacturer="Timothee Robin"
           UpgradeCode="8C8E645B-C234-4533-87FD-4375369A1C5A">

    <Package InstallerVersion="300"
             Compressed="yes"
             InstallScope="perMachine"
             Description="PayByPhone Smart Buyer &amp; Optimization Engine"
             Comments="PayByPhone Desktop &amp; CLI Suite" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <!-- Application Icon -->
    <Icon Id="AppIcon.ico" SourceFile="installer\app_icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon.ico" />

    <!-- Directory layout -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="PayByPhone Buyer" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="PayByPhone Buyer" />
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <!-- Executables component -->
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="MainExecutable" Guid="3F8090C1-6029-4A9C-8A5B-A484C7B07D3E" Win64="yes">
        <File Id="PaybyPhoneBuyerExe"
              Source="dist\PaybyPhoneBuyer.exe"
              KeyPath="yes"
              Checksum="yes" />
        <File Id="PaybyPhoneBuyerCliExe"
              Source="dist\PaybyPhoneBuyer-cli.exe"
              Checksum="yes" />
      </Component>
    </DirectoryRef>

    <!-- Start Menu and Desktop shortcuts -->
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="7244B741-6923-49AC-BCDF-08182DECD601">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="PayByPhone Buyer"
                  Description="Launch PayByPhone Buyer web interface &amp; tray application"
                  Target="[INSTALLFOLDER]PaybyPhoneBuyer.exe"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="AppIcon.ico" />
        <Shortcut Id="ApplicationDesktopShortcut"
                  Directory="DesktopFolder"
                  Name="PayByPhone Buyer"
                  Description="Launch PayByPhone Buyer web interface &amp; tray application"
                  Target="[INSTALLFOLDER]PaybyPhoneBuyer.exe"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="AppIcon.ico" />
        <RemoveFolder Id="CleanUpShortCut" On="uninstall" />
        <RegistryValue Root="HKCU"
                       Key="Software\PaybyPhoneBuyer"
                       Name="installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!-- Feature definition -->
    <Feature Id="ProductFeature" Title="PayByPhone Buyer" Level="1">
      <ComponentRef Id="MainExecutable" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>

    <!-- Basic UI with standard progress -->
    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="installer\license.rtf" />

  </Product>
</Wix>
